-
	pages = [
		{
		'name':'Элементы',
		'href':'elements'
		},
		{
			'name':'Главная',
			'href':'main'
		}
	]

-
	one = [
		{
		'name':'ITILF',
		'filter':'one'
		},
		{
		'name':'OSA',
		'filter':'two'
		},
		{
		'name':'RCV',
		'filter':'three'
		},
		{
		'name':'PPO',
		'filter':'one'
		},
		{
		'name':'SOA',
		'filter':'two'
		},
		{
		'name':'MALC',
		'filter':'three'
		},
		{
		'name':'ITSS',
		'filter':'one'
		},
		{
		'name':'ITPR',
		'filter':'one'
		}
	]
